//reset
body {
    max-width: 40rem;
    margin: 0 auto;
}

input,
button,
textarea {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

//公共导航
.common-navbar {
    background: $navbar-bg;
    line-height: $navbar-height;
    height: $navbar-height;
    color: #fff;
    padding: 0 $navbar-back-width;
    .bar-title {
        text-align: center;
        font-size: $navba-font-size;
    }
    .bar-back {
        width: $navbar-back-width;
        height: $navbar-height;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background: url(../images/back.png) no-repeat center;
        background-size: auto 45%;
    }
    .bar-right {
        z-index: 3;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 10px;
        color: #fff;
        text-decoration: none;
        .icon {
            display: inline-block;
            width: 22px;
            height: 22px;
            vertical-align: middle;
            &.complaint {
                background: url(../images/complaint.png) no-repeat;
                background-size: auto 100%;
            }
        }
    }
    &.transparent {
        background: transparent;
    }
}

//tabs
.common-tabs {
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px solid #ddd;
    margin: 0 2vw;
    li {
        text-align: center;
        flex: 1;
        -webkit-box-flex: 1;
        height: 45px;
        a {
            text-decoration: none;
            color: #333;
            line-height: 44px;
            display: inline-block;
            font-size: 16px;
            padding: 0 20px;
            &.active {
                border-bottom: 3px solid $navbar-bg;
                color: $navbar-bg;
            }
        }
    }
}