$head-bg: #4f2945; //首页头部背景色
$navbar-bg: #f67385; //导航背景色
$navbar-height: 55px; //导航高度
$navbar-back-width: 45px; //导航返回宽度
$navba-font-size: 18px; //导航字体大小
$color-green:#009900;
$color-light-green:#91e399;
$color-blue:#297aff;
$color-light-blue:#addeff;
$color-orange:#ff7000;
$color-light-orange:#ffdcda;