body {
  max-width: 40rem;
  margin: 0 auto;
}

input,
button,
textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.common-navbar {
  background: #f67385;
  line-height: 55px;
  height: 55px;
  color: #fff;
  padding: 0 45px;
}

.common-navbar .bar-title {
  text-align: center;
  font-size: 18px;
}

.common-navbar .bar-back {
  width: 45px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: url(../images/back.png) no-repeat center;
  background-size: auto 45%;
}

.common-navbar .bar-right {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
  color: #fff;
  text-decoration: none;
}

.common-navbar .bar-right .icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.common-navbar .bar-right .icon.complaint {
  background: url(../images/complaint.png) no-repeat;
  background-size: auto 100%;
}

.common-navbar.transparent {
  background: transparent;
}

.common-tabs {
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #ddd;
  margin: 0 2vw;
}

.common-tabs li {
  text-align: center;
  flex: 1;
  -webkit-box-flex: 1;
  height: 45px;
}

.common-tabs li a {
  text-decoration: none;
  color: #333;
  line-height: 44px;
  display: inline-block;
  font-size: 16px;
  padding: 0 20px;
}

.common-tabs li a.active {
  border-bottom: 3px solid #f67385;
  color: #f67385;
}

.index-page-wrap {
  min-height: 100vh;
  background: #ff65a0 url(../images/bg_index.png) repeat-x 0;
}

.index-page-wrap .index-head {
  background: #4f2945;
  min-height: 100px;
  padding: 40px 0 0 90px;
  position: relative;
}

.index-page-wrap .index-head .avatar {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 10px;
  top: 45px;
}

.index-page-wrap .index-head .name {
  color: #d8d7d6;
  margin: 0;
  font-size: 18px;
}

.index-page-wrap .index-head .grade {
  display: inline-block;
  color: #fbc97b;
  border-bottom: 2px solid #c8c3c5;
  margin-bottom: 5px;
}

.index-page-wrap .index-head .link {
  color: #dd165b;
}

.index-page-wrap .index-head .desc {
  color: #c8c3c5;
  font-size: 12px;
}

.index-page-wrap .index-menu-box {
  margin: 20px 0 0;
  position: relative;
  width: 100%;
  height: 100vw;
  overflow: hidden;
}

.index-page-wrap .index-menu-box .index {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.index-page-wrap .index-menu-box .index.i1 {
  opacity: 0.3;
  width: 80vw;
  height: 80vw;
}

.index-page-wrap .index-menu-box .index.i2 {
  opacity: 0.5;
  width: 56vw;
  height: 56vw;
}

.index-page-wrap .index-menu-box .index.i3 {
  opacity: 0.7;
  width: 36vw;
  height: 36vw;
}

.index-page-wrap .index-menu-box .index.i4 {
  opacity: 0.9;
  width: 25vw;
  height: 25vw;
  background: #4f2945 url(../images/index_logo.png) no-repeat center;
  background-size: auto 70%;
}

.index-page-wrap .index-menu-box .link.a1 {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 88px;
  background: url(../images/index/index_menu1.png) no-repeat;
  background-size: 100%;
}

.index-page-wrap .index-menu-box .link.a2 {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 88px;
  background: url(../images/index/index_menu2.png) no-repeat;
  background-size: 100%;
}

.index-page-wrap .index-menu-box .link.a3 {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 88px;
  background: url(../images/index/index_menu3.png) no-repeat;
  background-size: 100%;
}

.index-page-wrap .index-menu-box .link.a4 {
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 88px;
  background: url(../images/index/index_menu4.png) no-repeat;
  background-size: 100%;
}

.index-page-wrap .index-menu-box .link.a1 {
  left: 10vw;
  top: 10vw;
}

.index-page-wrap .index-menu-box .link.a2 {
  right: 10vw;
  top: 10vw;
}

.index-page-wrap .index-menu-box .link.a3 {
  left: 10vw;
  bottom: 10vw;
}

.index-page-wrap .index-menu-box .link.a4 {
  right: 10vw;
  bottom: 10vw;
}

.index-page-wrap .app-name {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.index-page-wrap .index-share {
  text-align: center;
  padding-bottom: 30px;
}

.index-page-wrap .index-share .img {
  width: 80px;
}

.index-page-wrap .index-share .text {
  margin: 5px 0 0;
  color: #4f2945;
  font-weight: bold;
  font-size: 20px;
}

.login-page-wrap {
  min-height: 100vh;
  background: #ff65a0 url(../images/bg_index.png) repeat-x 0;
}

.login-page-wrap .login-title {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  padding: 20px 0;
  color: #4f2945;
}

.login-page-wrap .login-logo {
  text-align: center;
  margin-bottom: 40px;
}

.login-page-wrap .login-logo .logo {
  width: 100px;
  margin-bottom: 15px;
}

.login-page-wrap .login-logo .txt {
  width: 120px;
}

.login-page-wrap .login-form {
  margin: 0 30px;
}

.login-page-wrap .login-form .list {
  padding: 0;
}

.login-page-wrap .login-form .list li {
  list-style: none;
  margin-bottom: 10px;
}

.login-page-wrap .login-form .list li .inp {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #4f2945;
  line-height: 45px;
  border-radius: 6px;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6);
}

.login-page-wrap .login-form .list li .inp.red {
  color: #f80a5f;
}

.login-page-wrap .login-form .list li .btn {
  border: none;
  background: #4f2945;
  color: #fff;
  line-height: 45px;
  border-radius: 6px;
  outline: none;
  width: 100%;
  font-size: 18px;
}

.login-page-wrap .login-form .list li.special {
  position: relative;
}

.login-page-wrap .login-form .list li.special .get-mobile-code {
  border: none;
  outline: none;
  background: #090;
  color: #fff;
  line-height: 30px;
  border-radius: 6px;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  top: 18%;
}

.login-page-wrap .login-form .list li.special .get-mobile-code:disabled {
  background: #aaa;
}

.share-page-wrap {
  background: #fbde91 url(../images/share_bg.png) no-repeat 0;
  background-size: cover;
  min-height: 100vh;
}

.share-page-wrap .img-box {
  text-align: center;
  margin: 30px 0;
}

.share-page-wrap .img-box img {
  max-width: 60%;
}

.share-page-wrap .ercode-img {
  background: #fff;
  padding: 10px;
  width: 160px;
  margin: 0 auto 30px;
}

.share-page-wrap .tui-box {
  margin: 0 5vw;
  position: relative;
  padding-right: 100px;
}

.share-page-wrap .tui-box .inp {
  width: 90%;
  line-height: 35px;
  padding: 0 0 0 10px;
  font-size: 14px;
}

.share-page-wrap .tui-box .btn {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 35px;
  background: #090;
  color: #fff;
  width: 100px;
  font-size: 14px;
}

.personal-page-wrap {
  min-height: 100vh;
  background: #fff;
}

.personal-page-wrap .per-list {
  margin: 5vw 5vw 0;
}

.personal-page-wrap .per-list li {
  margin-bottom: 15px;
}

.personal-page-wrap .per-list li.border {
  border: 1px solid #f67385;
  line-height: 45px;
  height: 45px;
  border-radius: 6px;
  position: relative;
  padding-left: 80px;
}

.personal-page-wrap .per-list li.border .inp {
  line-height: 43px;
  height: 43px;
  width: 99%;
  font-size: 14px;
  float: left;
}

.personal-page-wrap .per-list li.border .link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.personal-page-wrap .per-list li.border label {
  color: #888;
  text-align: right;
  display: block;
  position: absolute;
  left: 10px;
  top: 0;
  font-size: 14px;
}

.personal-page-wrap .per-list li.border .right {
  float: right;
  font-size: 14px;
  color: #666;
}

.personal-page-wrap .per-list li.border .right .arr {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/arr_right.png) no-repeat 0 0;
  background-size: auto 80%;
  vertical-align: middle;
}

.personal-page-wrap .per-list li.last {
  margin: 0 auto 50px;
}

.personal-page-wrap .per-list li.last .btn {
  color: #fff;
  background: #f67385;
  line-height: 45px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
}

.changepsw-page-wrap {
  min-height: 100vh;
  background: #f2f2f2;
}

.changepsw-page-wrap .change-list {
  margin: 5vw 4vw 0;
}

.changepsw-page-wrap .change-list li {
  margin-bottom: 15px;
}

.changepsw-page-wrap .change-list li.bg {
  background: #fff;
  height: 45px;
  position: relative;
  padding-left: 90px;
}

.changepsw-page-wrap .change-list li.bg label {
  position: absolute;
  left: 10px;
  top: 22%;
  display: block;
  text-align: right;
}

.changepsw-page-wrap .change-list li .inp {
  line-height: 43px;
  border-radius: 6px;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.changepsw-page-wrap .change-list li .btn {
  color: #fff;
  background: #f67385;
  line-height: 45px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
}

.complaint-page-wrap {
  background: #f2f2f2;
  min-height: 100vh;
}

.complaint-page-wrap .complaint-list {
  margin: 5vw 4vw 0;
}

.complaint-page-wrap .complaint-list li {
  margin-bottom: 20px;
}

.complaint-page-wrap .complaint-list li .select {
  width: 100%;
  background: #fff;
  height: 45px;
  line-height: 45px;
  border: 1px solid #f67385;
  color: #f67385;
  font-size: 14px;
  border-radius: 6px;
}

.complaint-page-wrap .complaint-list li.bg {
  border-radius: 6px;
  background: #fff;
  padding: 10px;
}

.complaint-page-wrap .complaint-list li.bg label {
  margin-bottom: 10px;
  display: inline-block;
}

.complaint-page-wrap .complaint-list li.bg .area {
  width: 100%;
  font-size: 16px;
  border: none;
}

.complaint-page-wrap .complaint-list li .btn {
  color: #fff;
  background: #f67385;
  line-height: 45px;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
}

.complaint-page-wrap .verify-detail {
  margin: 30px 2vw 0;
}

.complaint-page-wrap .verify-detail li.normal {
  height: 30px;
  position: relative;
  padding-left: 80px;
}

.complaint-page-wrap .verify-detail li.normal label {
  position: absolute;
  left: 0;
  top: 5%;
}

.complaint-page-wrap .verify-detail li.normal .text {
  color: #000;
}

.complaint-page-wrap .verify-detail li .area {
  background: #fff;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.complaint-page-wrap .verify-detail li.last {
  text-align: center;
  padding-top: 20px;
}

.complaint-page-wrap .verify-detail li.last .btn {
  line-height: 40px;
  color: #fff;
  width: 90%;
  border-radius: 6px;
}

.complaint-page-wrap .verify-detail li.last .btn.green {
  background: #009900;
}

.complaint-page-wrap .verify-detail li.last .btn.red {
  background: #ff0064;
}

.record-page-wrap .record-list {
  margin: 30px 2vw 0;
}

.record-page-wrap .record-list li {
  position: relative;
  border: 1px solid #ededed;
  padding: 10px 40px 10px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.record-page-wrap .record-list li .title {
  font-size: 16px;
  color: #000;
  margin: 0;
}

.record-page-wrap .record-list li .desc {
  color: #888;
  margin: 5px 0 0;
}

.record-page-wrap .record-list li .more {
  position: absolute;
  right: 10px;
  top: 35%;
  color: #f67385;
}

.myteam-page-wrap {
  background: #f2f2f2;
  min-height: 100vh;
}

.myteam-page-wrap .team-head {
  background: #f67385;
  display: flex;
  display: -webkit-flex;
  padding: 10px 0 30px;
}

.myteam-page-wrap .team-head li {
  flex: 1;
  -webkit-box-flex: 1;
  color: #fff;
  text-align: center;
}

.myteam-page-wrap .team-head li .num {
  font-size: 24px;
}

.myteam-page-wrap .team-head li .txt {
  font-size: 14px;
}

.myteam-page-wrap .team-head li:first-child {
  position: relative;
}

.myteam-page-wrap .team-head li:first-child::after {
  content: "";
  border-right: 1px solid #fff;
  height: 15px;
  position: absolute;
  right: 0;
  top: 35%;
}

.myteam-page-wrap .team-list {
  margin: 0;
}

.myteam-page-wrap .team-list dt {
  text-indent: 10px;
  padding: 10px 0;
}

.myteam-page-wrap .team-list dd {
  background: #fff;
  margin-bottom: 1px;
  padding: 10px;
}

.myteam-page-wrap .team-list dd .tit {
  font-size: 16px;
  color: #000;
  display: inline-block;
  margin-right: 10px;
}

.myteam-page-wrap .team-list dd .lv {
  color: #666;
}

.myteam-page-wrap .team-list dd .time {
  color: #888;
  margin: 5px 0 0;
  font-size: 14px;
}

.upgrade-page-wrap .upgrade-head {
  text-align: center;
  margin: 20px 0;
}

.upgrade-page-wrap .upgrade-head .tit {
  font-size: 18px;
}

.upgrade-page-wrap .upgrade-head .tit.t1 {
  color: #f67385;
}

.upgrade-page-wrap .upgrade-head .tit.t2 {
  color: #000;
  margin-top: 10px;
}

.upgrade-page-wrap .upgrade-head .up {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: url(../images/up.png) no-repeat center;
  background-size: 100%;
}

.upgrade-page-wrap .upgrade-body {
  margin: 0 5vw;
}

.upgrade-page-wrap .upgrade-body .inner {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px 15px 0;
  margin-bottom: 20px;
}

.upgrade-page-wrap .upgrade-body .tips {
  color: #f67385;
  font-size: 14px;
}

.upgrade-page-wrap .upgrade-body .uk-form-custom {
  display: block;
}

.upgrade-page-wrap .upgrade-body .uk-button-default {
  background: #f67385;
  color: #fff;
  border: none;
  width: 100%;
  display: block;
  border-radius: 4px;
}

.calssroom-page-wrap .class-list {
  margin: 20px 5vw 0;
  border-radius: 6px;
  padding: 10px 20px;
}

.calssroom-page-wrap .class-list li {
  height: 45px;
  line-height: 45px;
}

.calssroom-page-wrap .class-list li .link {
  display: block;
  text-decoration: none;
}

.calssroom-page-wrap .class-list li .name {
  font-size: 16px;
  float: left;
}

.calssroom-page-wrap .class-list li .view {
  float: right;
}

.calssroom-page-wrap .class-list li .view .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
}

.calssroom-page-wrap .class-list.green {
  border: 1px solid #009900;
}

.calssroom-page-wrap .class-list.green li {
  border-bottom: 1px solid #009900;
}

.calssroom-page-wrap .class-list.green li:last-child {
  border: none;
}

.calssroom-page-wrap .class-list.green li .link {
  color: #009900;
}
